In [3]:
import pandas as pd

In [22]:
agent_assinged_df = pd.read_csv("/Users/elmiraonagh/Desktop/courses/6444/project/project_repo/SWE-Manger/Project/RQ3/assigned_agents_2.csv")
agent_assinged_df = agent_assinged_df[['instance_id', 'cluster', 'assigned_agent']]
agent_assinged_df["success_state"] = ""
agent_assinged_df.head()

              instance_id  cluster      assigned_agent success_state
0  astropy__astropy-12907        0  ExpeRepair_Claude4
1  astropy__astropy-14182        3     Refact_ai_Agent
2  astropy__astropy-14365        2     Refact_ai_Agent
3  astropy__astropy-14995        2     Refact_ai_Agent
4   astropy__astropy-6938        4  ExpeRepair_Claude4

In [23]:
agent_assinged_df["assigned_agent"].value_counts()

assigned_agent
Refact_ai_Agent       198
ExpeRepair_Claude4    102
Name: count, dtype: int64

In [24]:
GT_df = pd.read_csv("/Users/elmiraonagh/Desktop/courses/6444/project/project_repo/SWE-Manger/Project/RQ3/SWE_bench_lite_with_resolution.csv")
GT_df.head()

,repo,instance_id,version,n_files_touched,patch_size,n_test_files_touched,test_patch_size,num_FAIL_TO_PASS,problem_length_words,predicted_GH_labels,...,ExpeRepair_Claude4,Refact_ai_Agent,KGCompass_Claude4,SWE-agent_Claude4,SWE-agent_Claude3_7,KGCompass_DeepSeek_V3,Moatless_Tools_Deepseek_V3,SWE-Fixer_Qwen25-7b,SWE-agent_GPT_4o,SWE-agent_Claude3Opus
0,astropy/astropy,astropy__astropy-12907,4.3,1,2,1,19,2,158,bug,...,1,1,1,1,1,1,0,0,0,1
1,astropy/astropy,astropy__astropy-14182,5.1,1,41,1,28,1,189,enhancement,...,0,0,0,0,0,0,0,0,0,0
2,astropy/astropy,astropy__astropy-14365,5.1,1,4,1,15,1,202,bug,...,0,0,0,0,0,0,0,0,0,0
3,astropy/astropy,astropy__astropy-14995,5.2,1,4,1,39,1,357,bug,...,1,1,1,1,1,1,1,1,1,1
4,astropy/astropy,astropy__astropy-6938,1.3,1,2,2,17,2,76,bug,...,1,1,1,1,0,1,0,1,0,0

In [25]:
success_states = []

for idx, row in agent_assinged_df.iterrows():
    instance_id = row['instance_id']
    agent = row['assigned_agent']
    
    # Lookup in GT_df: get the row for this instance, then the column for the agent
    match_row = GT_df[GT_df['instance_id'] == instance_id]
    if not match_row.empty:
        success_states.append(match_row[agent].values[0])
    else:
        success_states.append(None)  # if instance not found

# Add success_state column
agent_assinged_df['success_state'] = success_states

# Optional: count occurrences of assigned agents
agent_counts = agent_assinged_df['assigned_agent'].value_counts()

In [26]:
agent_assinged_df.head()

              instance_id  cluster      assigned_agent  success_state
0  astropy__astropy-12907        0  ExpeRepair_Claude4              1
1  astropy__astropy-14182        3     Refact_ai_Agent              0
2  astropy__astropy-14365        2     Refact_ai_Agent              0
3  astropy__astropy-14995        2     Refact_ai_Agent              1
4   astropy__astropy-6938        4  ExpeRepair_Claude4              1

In [31]:
agent_assinged_df["assigned_agent"].value_counts()

assigned_agent
Refact_ai_Agent       198
ExpeRepair_Claude4    102
Name: count, dtype: int64

In [27]:
# Group by agent and calculate success rate
success_rate_per_agent = agent_assinged_df.groupby('assigned_agent')['success_state'].mean()

print(success_rate_per_agent)

assigned_agent
ExpeRepair_Claude4    0.715686
Refact_ai_Agent       0.590909
Name: success_state, dtype: float64

In [28]:
# Overall success rate
overall_success_rate = agent_assinged_df['success_state'].mean()

print("Overall success rate:", overall_success_rate)

Overall success rate: 0.6333333333333333